.label{
	-fx-border-width: 2; /* 境界線 */
	-fx-border-color: gray;
}

.vbox{
	-fx-spacing: 15;   /* 子ノード間隔 */
	-fx-alignment: center-left;  /* 子ノード位置合せ */
}

.hbox{
	-fx-spacing: 20;   /* 子ノード間隔 */
	-fx-padding: 20;  /* 余白 */
}